body,html{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.App {
  text-align: center;
  display: flex;
  max-width: 40rem;
  width: 100%;
  height: 20rem;
  background: yellow;
  border-radius: 2rem;
  padding: 2rem;
}

.App img{
  width: 100%;
  border-radius: 2rem;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: black;
}
